.evms__info-card-large_container {
    width: 373px;
    height: var(--card-height);
    background-color: white;
    border-radius: 20px; 
    /* margin-left: 1rem; */
}

.evms__info-card-large_heading-box {
    height: 92px;
    background-color: blue;
    border-radius: 20px;
    padding: .8rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: white;
}

.evms__info-card-large_heading-box_title {
    font-size: .8rem;
    font-weight: 400;
    margin-top: .6rem;
    opacity: .9;
}

.evms__icon_two {
    height: 13px;
    width: 17px;
    opacity: .9;
    color: white;
}

.evms__info-card-large_lower-container {
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; */
    margin: 1.6rem 2rem;
    /* place-items: center; */

}



.evms__info-card-large_row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 25px;
    margin-bottom: 1.3rem;
}

.evms__info-card-large_row h4  {
    font-size: .8rem;
    font-weight: 400;
    color: blue;
}

.evms__info-card-large_row p {
    font-size: .8rem;
}

.evms__info-card-large-indicator {
 width: 8px;
 height: 8px;
 border-radius: 50%;
 /* background-color: red; */
 margin-right: .2rem;
}

.evms__info-card-large_indicator-container {
    display: flex;
    align-items: center;
}