.evms__info-card-large_container {
    width: 366px;
    height: 263px;
    background-color: white;
    border-radius: 20px; 
    margin-left: 1rem;
}

.evms__info-card-large_heading-box {
    height: 92px;
    background-color: blue;
    border-radius: 20px;
    padding: .8rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: white;
}

.evms__info-card-large_heading-box_title {
    font-size: .8rem;
    font-weight: 400;
    margin-top: .5rem;
    opacity: .9;
}

.evms__icon_two {
    height: 13px;
    width: 17px;
    opacity: .9;
    color: white;
}