.evms__card-wrapper {
    display: flex;
    justify-content: center; 
    width: 100%;
}

.evms__card-container {
    max-width: var(--max-width);
    width: calc(100% - 1rem);
    margin-top: 1.9rem;
}

.evms__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin:  0 2rem;
    gap: 15px;
}

@media only screen and (max-width: 1100px) {
    .evms__cards {
        justify-content: flex-start;
    }
    
}

