.evms__card-wrapper {
    display: flex;
    justify-content: center; 
    width: 100%;
}

.evms__card-container {
    max-width: 1700px;
    width: calc(100% - 1rem);
    margin-top: 1.9rem;
}

.evms__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin:  0 2rem;
}

