.evms__navbar_page-wrapper {
    display: flex;
    justify-content: center; 
    width: 100%;
    background-color: var(--bkgd-clr-white);
}

.evms__page-container {
    max-width: 1700px;
    width: calc(100% - 1rem);
}

.evms__navbar {
    display: flex;
    flex-wrap: wrap;
    padding: 0 2rem;
    justify-content: space-between;
    align-items: center;
}

.evms__navbar_links-container {
    display: flex;
    align-items: center;
}

.evms__navbar_links {
    display: flex;
    color: black;
    align-items: center;
    margin: 0 1rem 0 3rem;
}

.evms__navbar_links-logo {
    font-size: 3rem;
    color: var( --clr-purple);
    font-style: italic;
}

.evms__navbar_active {
    border-radius: 20px;
    background-color: var(--clr-blue);
    color: white;
}

.evms__navbar_links li  {
    list-style-type: none;
    margin: 0;
    padding: .5rem .9rem;
    font-size: 11px;
}
.evms__navbar_link {
    /* padding: 2rem; */
    /* font-size: 12px; */
    /* letter-spacing: .5px; */
}

.evms__navbar_link a {
    color: inherit;
}

.evms__navbar_link + .evms__navbar_link {
    margin-left: 1rem;
}

.evms__navbar a {
    text-decoration: none;
    /* color: inherit; */
}

.evms__navbar_search-bar {
	background-color: #f4f4f4;
	border-radius: 20px;
	display: flex;
	align-items: center;
	padding: .2rem .6rem;
    margin: 0 1rem;
 
}

.evms__navbar_search-bar input {
    width: 190px;
	border: none;
	outline: none;
	font-size: .7rem;
    padding: 0rem .2rem .1rem .2rem;
    
    background-color: #f4f4f4;
}
.evms__navbar_search-icon {
    font-size: 15px;
    margin-top: 3px;
}

.evms__navbar_last-update {
    background-color: #f4f4f4;
    border-radius: 20px;
    padding: .3rem 2rem;
}

.evms__navbar_last-update_container {
    background-color: #f4f4f4;
    border-radius: 20px;
    /* padding: .3rem 2rem; */
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    /* padding-right: 5px; */
}
.evms__navbar_last-update_circle {
    background-color: var(--clr-blue);
    border-radius: 50%;
    height: 29px;
    width: 29px; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.evms__navbar_last-update_container h5 {
    font-size: .7rem;
    white-space: nowrap;
  
}

.evms__navbar_last-update_container p {
    font-size: .7rem;
    white-space: nowrap;
   
}

.evms__navbar_clock-icon {
    /* font-size: 25px; */
    font-size: 1.2rem;
    /* padding-top: 1px; */
    /* padding-right: 1px; */
    margin: .3px 0 0 0px;
    /* border: 1px solid red; */
    color: white;
    opacity: .7;
}

.evms__navbar_last-update_text {
    margin-left: 5px;
    margin-right: 13px;
}

.evms__navbar_search-input_button {
    cursor: pointer;
    background-color: inherit;
    border: none;
    outline: none;
}

.evms__navbar_tools-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.evms__navbar_tools {    
    background-color: var(--clr-purple);
    border-radius: 50%;
    height: 29px;
    width: 29px; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.evms__navbar_tools + .evms__navbar_tools {
    margin-left: .5rem;
   
}

.evms__navbar_tools img {
    width: 20px;
    height: auto;
    padding-right: 1px;
}

.evms__navbar_tools.add {
    color: white;
    font-size: 1.0rem;

    /* padding-top: 1px; */
    /* margin-left: 1px; */
    /* opacity: .7; */
}

.evms__navbar_tools.add > * {
    opacity: 9;
    /* margin-top: 1px; */
    /* margin-top: 1px; */
}

.evms__navbar_tools.gear {
    color: black;
    font-size: 1rem;
    /* padding-top: 1px;
    padding-right: .2rem; */
    background-color: #D9D9D9;

}

.evms__navbar_tools.gear > * {
    /* margin-right: .5px; */
}








