.evms__secondary-Nav_wrapper {
    display: flex;
    justify-content: center; 
    width: 100%;
}

.evms__secondary-Nav_container {
    max-width: var(--max-width);
    width: calc(100% - 1rem);
    margin-top: 2.4rem;
}

.evms__secondary-Nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin:  0 2rem;
    position: relative;
}

.evms__secondary-Nav::after {
    content: "";
    position: absolute;
    display: block;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background: gray;
    opacity: .2;
}

.evms__secondary-Nav_links {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.evms__secondary-Nav_link {
    list-style-type: none;
    padding-bottom: .3rem;
    font-size: .75rem; 
    display: flex;
    align-items: center;
}

.evms__secondary-Nav_link--active {
    border-bottom: 2px solid var(--clr-blue);
    z-index: 10;
}

.evms__secondary-Nav_link:not(.evms__secondary-Nav_link--active):hover {
    color: var(--clr-blue);
    cursor: pointer;
}

.evms__secondary-Nav_link + .evms__secondary-Nav_link {
    margin-left: 1.6rem;
}

.evms__secondary-Nav_link-quantity {
    margin-left: .5rem;
    padding: .15rem .6rem .1rem .55rem;
    border-radius: 10px;
    background-color: var(--clr-blue);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}