.evms__dashNav_wrapper {
    display: flex;
    justify-content: center; 
    width: 100%;
}

.evms__dashNav_container {
    max-width: var(--max-width);
    width: calc(100% - 1rem);
    margin-top: 1.4rem;
}

.evms__dashNav {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin:  0 2rem;
    position: relative;
}

.evms__dashNav::after {
    content: "";
    position: absolute;
    display: block;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background: gray;
    opacity: .2;
}

.evms__dashNav_links {
    display: flex;
    justify-content: flex-start;
    align-items: center;  
}

.evms__dashNav_link--active {
    border-bottom: 2px solid blue;
    z-index: 10;
}

.evms__dashNav_link {
    list-style-type: none;
    padding-bottom: .3rem;
    font-size: .75rem; 
}

.evms__dashNav_link:not(.evms__dashNav_link--active):hover {
    color: var(--clr-blue);
    cursor: pointer;
}

.evms__dashNav_link + .evms__dashNav_link {
    margin-left: 1.2rem;
}