*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --clr-blue: #563CFB;
    --clr-purple: #9747FF;
    --clr-green: #01796F;
    --bkgd-clr-white: #fff;
    --card-height: 273px;
    --max-width: 1500px;
}

html {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #F4F4F4;
}

.evms__icon-wrapper {
    height: 27px;
    width: 27px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.2); 
}